<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="navbar-brand">
      <img src="/assets/logtun.png" alt="logotunisair">
  </div>
 
  <ul class="navbar-nav ">
      <li >
          <a class="nav-link" href="#">Acceuil</a>
      </li>
      <li>
          <a class="nav-link" href="#">Services</a>
      </li>
      <li >
          <a class="nav-link" href="#">Contacts</a>
      </li>
      <li>
          <a class="nav-link" routerLink='/flight' style="width:150px;">les Vols Tunisair</a>
        </li>
        </ul>
        <form class="form-inline search-form">
          <input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Search">
          <button class="btn btn-outline-dark" type="submit"><i class="fa fa-search"></i></button>
      </form>
        <ul class="navbar-nav ">
      <li >
          <button class="btn btn-primary button">S'authentifier</button>
      </li>
      <li >
          <button class="btn btn-secondary button">Créer un compte </button>
      </li>
  </ul>
</nav>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    
   

<router-outlet></router-outlet>


 
